<div id="projects">
  <h1 class="mb-3">Projects</h1>
    <div class="cards">
    <% data.projects.each do |project| %>
      <div class="card-project mb-2">
        <%= image_tag project.icon, alt: "project icon" %>
        <div class="card-product-infos w-100">
          <div class="d-flex justify-content-start  align-items-center" >
            <h2><%= project.name %></h2>
          </div>
          <% unless project.devicons.nil? %>
            <% project.devicons.each do |devicon| %>
              <i class="devicon-<%= devicon %>"></i>
            <% end %>
          <% end %>
        </div>
        <a class="card-project-modal-link" data-bs-toggle="modal" data-bs-target="#exampleModal<%=project.id%>"></a>
        <%= partial 'shared/modal',
          locals: {
            name: project.name,
            description: project.description,
            screenshots: project.screenshots,
            url: project.url,
            github: project.github,
            id: project.id,
            devicons: project.devicons
          }
        %>
      </div>
    <% end %>
  </div>
</div>
