<div id="skills" class="container-section">
  <div class="container-section-left-column">
    <h1>Skills</h1>
  </div>
  <div class="container-section-right-column mt-4 mb-4">
    <h4>Back-end</h4>
    <div class="icons">
      <div class="d-flex align-items-center">
        <%= image_tag "images/icons/icons8-ruby-128.png", class: "icon-skills" %>
        <span>Ruby</span>
      </div>
      <div class="d-flex align-items-center">
        <%= image_tag "images/icons/icons8-ruby-on-rails-128.png", class: "icon-skills" %>
        <span>Ruby on rails</span>
      </div>
      <div class="d-flex align-items-center">
      <%= image_tag "images/icons/icons8-postgresql-128.png", class: "icon-skills" %>
        <span>postgreSQL</span>
      </div>
    </div>
    <h4 class="mt-5">Front-end</h4>
    <div class="icons">
      <div class="d-flex align-items-center">
          <%= image_tag "images/icons/icons8-javascript-50.png", class: "icon-skills" %>
          <span>Javascript</span>
      </div>
      <div class="d-flex align-items-center">
          <%= image_tag "images/icons/icons8-html-50.png", class: "icon-skills" %>
          <span>HTML</span>
      </div>
      <div class="d-flex align-items-center">
          <%= image_tag "images/icons/icons8-css3-50.png", class: "icon-skills" %>
          <span>CSS</span>
      </div>
      <div class="d-flex align-items-center">
          <%= image_tag "images/icons/icons8-sass-50.png", class: "icon-skills" %>
          <span>Sass</span>
      </div>
    </div>
    <h4 class="mt-5">Others</h4>
      <div class="icons">
        <div class="d-flex align-items-center">
            <%= image_tag "images/icons/icons8-git-50.png", class: "icon-skills" %>
            <span>Git</span>
        </div>
        <div class="d-flex align-items-center">
            <%= image_tag "images/icons/icons8-github-30.png", class: "icon-skills" %>
            <span>GitHub</span>
        </div>
        <div class="d-flex align-items-center">
            <%= image_tag "images/icons/icons8-heroku-50.png", class: "icon-skills" %>
            <span>Heroku</span>
        </div>
      </div>
  </div>
</div>
