<div id="carouselExampleControls<%= id %>" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% unless screenshots.nil? %>
      <% screenshots.each_with_index do |screenshot, idx| %>
        <div class="carousel-item <%=" active" if idx == 0 %>">
        <img src="<%= screenshot %>" class="d-block w-100" alt="...">
      </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= id %>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= id %>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
